.modal-view {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  /*postcss-pxtransform rn eject enable*/
  transition: background-color 0.2s;
  /*postcss-pxtransform rn eject disable*/
  &__main {
    /*postcss-pxtransform rn eject enable*/
    transition: all 0.2s;
    transform: scale3d(0.1, 0.1, 1);
    opacity: 0.2;
    /*postcss-pxtransform rn eject disable*/
    &--show {
      /*postcss-pxtransform rn eject enable*/
      transform: scale3d(1, 1, 1);
      opacity: 1;
      /*postcss-pxtransform rn eject disable*/
    }
  }
}
