.form-array-two {
  /*postcss-pxtransform rn eject enable*/
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: block;
    border-radius: 5px;
    height: 10px;
    background-color: #f5f5f5;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #555;
  }
  /*postcss-pxtransform rn eject disable*/
  &__edit {
    min-width: 100%;
    /*postcss-pxtransform rn eject enable*/
    display: inline-block;
    /*postcss-pxtransform rn eject disable*/
    &__main {
      flex-direction: row;
    }
  }
  &__table {
    border: 1px solid #e2e2e2;
    /*postcss-pxtransform rn eject enable*/
    display: inline-block;
    /*postcss-pxtransform rn eject disable*/
  }
  &__head {
    flex-direction: row;
    border-bottom-width: 1px;
    border-bottom-color: #e2e2e2;
    /*postcss-pxtransform rn eject enable*/
    border-bottom-style: solid;
    /*postcss-pxtransform rn eject disable*/
    &__item {
      align-items: center;
      justify-content: center;
      padding: 10px;
      flex-shrink: 0;
      &__txt {
        font-size: 28px;
        color: #333;
        font-weight: bold;
      }
      &__tip {
        font-size: 24px;
        color: #999;
      }
    }
  }
  &__main {
    flex-direction: row;
    &__action {
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
    }
  }
}
