/*postcss-pxtransform rn eject enable*/
.scroll-root {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.scroll {
  display: initial;
}
.scroll-flip {
  transform: rotate(180deg);
}
.scroll-auto-height-weapp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: 1;
}
.scroll-auto-height-h5 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: 1;
}
.scroll-auto-height {
  flex: 1;
}
.scroll-refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: absolute;
  top: -140px;
  left: 0;
  right: 0;
  // z-index: 2;
  transform: translate3d(0px, 0px, 0px);
  /*postcss-pxtransform rn eject enable*/
  transition: transform 0s;
  /*postcss-pxtransform rn eject disable*/
}
/*postcss-pxtransform rn eject disable*/
.scroll-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  justify-content: center;
  align-items: center;
  &--show {
    opacity: 1;
  }
  &__title {
    padding: 20px 0;
    color: #333;
    font-size: 32px;
    /*postcss-pxtransform rn eject enable*/
    word-break: break-all;
    /*postcss-pxtransform rn eject disable*/
  }
  &__desc {
    color: #999;
    font-size: 32px;
    /*postcss-pxtransform rn eject enable*/
    word-break: break-all;
    /*postcss-pxtransform rn eject disable*/
  }
}
