.temp-list-nav {
  flex-direction: row;
  align-items: stretch;
  height: 60px;
  &__item {
    flex: 1;
    text-align: center;
    font-size: 26px;
    line-height: 60px;
    color: #333;
  }
  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #666;
    transition: transform 0.2s;
  }
}
.temp-list-nav-main {
  flex: 1;
  position: relative;
  &__item {
    position: absolute;
    background-color: #fff;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.temp-list-user {
  padding: 0 10px;
  border-top: 1px solid #ededed;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &__tip {
    font-size: 20px;
    &__login {
      font-size: 20px;
      color: blue;
      margin-right: 6px;
      cursor: pointer;
    }
  }
  &__name {
    font-size: 24px;
    flex: 1;
  }
  &__out {
    padding: 5px 10px;
    border: 1px solid #999;
    font-size: 20px;
    border-radius: 20px;
    color: #666;
    cursor: pointer;
  }
}
.temp-list {
  flex: 1;
  // padding: 10px 10px 0 10px;
  .search {
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    border: 1px solid #f2f2f2;
    margin: 6px 10px;
    border-radius: 5px;
    taro-input-core {
      flex: 1;
      font-size: 24px;
      margin-left: 10px;
      color: #333;
    }
    taro-text-core {
      font-size: 24px;
      color: #999;
    }
  }
  .item {
    margin-top: 28px;
    box-shadow: 0 0 6px 2px #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    &__zoom {
      position: relative;
      overflow: hidden;
      &__pos {
        position: absolute;
        left: 0;
        top: 0;
        width: 750px;
        transform-origin: 0 0;
        transform: scale3d(0.5, 0.5, 1);
      }
    }
    &:nth-child(1) {
      margin-top: 0;
    }
    .title {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 14px;
      background-color: #a3a5ab;
      .name {
        font-size: 20px;
        color: #fff;
      }
      .cate {
        font-size: 20px;
        color: #fff;
        &::after {
          font-family: "icon" !important;
          content: "\e71f";
          font-size: 20px;
        }
      }
    }
    .uninstall {
      margin-top: 10px;
      font-size: 20px;
      color: #fff;
      padding: 10px;
      line-height: 1.2;
      background-color: #ff4a4a;
    }
  }
}
.temp-list-project {
  flex: 1;
  padding: 10px 10px 0 10px;
  .search {
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    border: 1px solid #f2f2f2;
    margin: 6px 10px;
    border-radius: 5px;
    taro-input-core {
      flex: 1;
      font-size: 24px;
      margin-left: 10px;
      color: #333;
    }
    taro-text-core {
      font-size: 24px;
      color: #999;
    }
  }
  &__item {
    padding: 12px;
    margin-top: 10px;
    box-shadow: 0 0 6px 2px #f2f2f2;
    &__name {
      font-size: 28px;
    }
    &__count {
      font-size: 20px;
      color: #666;
      background-color: #ededed;
      border-radius: 20px;
      padding: 1px 12px;
    }
    &__bottom {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 16px;
    }
    &__tips {
      flex: 1;
      flex-direction: row;
      align-items: center;
    }
    &__public {
      padding: 4px 10px;
      border: 1px solid #999;
      border-radius: 30px;
      font-size: 20px;
      color: #666;
      margin-right: 10px;
    }
    &__user {
      font-size: 24px;
      color: #999;
    }
  }
}
