.form-tab {
  &--row {
    flex-direction: row;
  }
  &__nav {
    flex-shrink: 0;
    align-items: center;
    &--row {
      flex-direction: row;
    }
    &__item {
      padding: 10px;
      border-bottom-width: 4px;
      border-bottom-color: transparent;
      /*postcss-pxtransform rn eject enable*/
      border-bottom-style: solid;
      /*postcss-pxtransform rn eject disable*/
      &--hover {
        border-bottom-width: 4px;
        border-bottom-color: #666;
        /*postcss-pxtransform rn eject enable*/
        border-bottom-style: solid;
        /*postcss-pxtransform rn eject disable*/
      }
      &__txt {
        font-size: 28px;
        color: #333;
      }
    }
  }
  &__child {
    flex: 1;
  }
}
