.overlay-alert {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
  &__main {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
  }
  &__title {
    font-size: 32px;
    color: #333;
    padding: 20px 0;
    text-align: center;
  }
  &__content {
    font-size: 28px;
    color: #666;
    padding: 30px 0;
    text-align: center;
  }
  &__btns {
    flex-direction: row;
    align-items: center;
  }
  &__cancel {
    flex: 1;
    padding: 20px 10px;
    font-size: 28px;
    color: #999;
    text-align: center;
  }
  &__confirm {
    flex: 1;
    padding: 20px 10px;
    font-size: 28px;
    color: #333;
    text-align: center;
  }
}
