.create-dnd {
  flex: 1;
  &__edit {
    align-items: center;
    padding: 20px;
    background-color: #ededed;
    /*postcss-pxtransform rn eject enable*/
    transition: background-color 0.3s;
    /*postcss-pxtransform rn eject disable*/
    min-width: 300px;
    flex-shrink: 0;
    &--drop {
      background-color: #c2c2c2;
    }
    &__title {
      color: #333;
      font-size: 28px;
    }
    &__desc {
      font-size: 24px;
      color: #666;
      margin-top: 20px;
    }
  }
  &--row {
    flex-direction: row;
    width: 100%;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}

@keyframes insertAnimation {
  0% {
    background-color: #999;
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    background-color: #f2f2f2;
  }
  100% {
    background-color: #999;
    opacity: 1;
  }
}

.form-drag-drop {
  position: initial;
  &--hover {
    opacity: 0.1;
  }
  &--row {
    flex-direction: row;
  }
  &.insert {
    opacity: 0.6;
    animation-name: insertAnimation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
  &__add {
    width: 100%;
    height: 1px;
    background-color: #666;
    flex-shrink: 0;
    &.row {
      width: 1px;
      height: 100%;
    }
  }
  .eidt-item {
    font-size: 24px;
    color: #666;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #fff;
  }
}
