.taro-design {
  display: flex;
  background-color: #f5f5f5;
  position: relative;
  height: 100%;
  overflow: hidden;
  & > .action {
    height: 80px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    & > .head {
      width: 500px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 4px;
        height: 60px;
        background-color: #ededed;
      }
      .title {
        font-size: 36px;
        padding-left: 30px;
        color: #444;
      }
    }
    .flex-grow {
      flex: 1;
      flex-direction: row;
      padding: 0 20px;
      justify-content: center;
    }
    .history {
      font-size: 42px;
      color: #333;
      padding: 5px 10px;
      cursor: pointer;
      &.disabled {
        cursor: unset;
        color: #999;
      }
    }
    & > .btns {
      flex-direction: row;
      align-items: center;
      width: 500px;
      position: relative;
      justify-content: center;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 4px;
        height: 60px;
        background-color: #ededed;
      }
    }
    .btn {
      border: 1px solid #999;
      padding: 0 20px;
      border-radius: 6px;
      margin-left: 40px;
      font-size: 26px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      color: #333;
      &:nth-child(1) {
        margin-left: 0;
      }
      &.disabled {
        color: #999;
        border-color: #ccc;
      }
    }
    .save {
      background-color: #333;
      color: #fff;
      width: 60px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .design-main {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .phone {
      height: 96%;
      width: 750px;
      background-color: #fff;
      margin-bottom: 10px;
      border-radius: 5px;
      & > .scroll {
        height: 100%;
        position: relative;
      }
    }
  }
}

// 全局弹出菜单样式
.global-menus {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 99;
  left: 0;
  top: 0;
  box-shadow: 0 0 4px 2px #f2f2f2;
  .item {
    font-size: 24px;
    padding: 10px 20px;
    &:hover {
      background-color: #f2f2f2;
    }
  }
}
