.json {
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  & > .head {
    height: 60px;
    width: 1000px;
    border-bottom: 1px solid #ededed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    & > .type {
      flex-direction: row;
      align-self: stretch;
      .item {
        padding: 0 20px;
        font-size: 28px;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid #fff;
        &.select {
          border-bottom: 3px solid #333;
        }
      }
    }
  }
  .main {
    width: 1000px;
    height: 800px;
    position: relative;
    background-color: rgb(245, 242, 240);
    .scroll {
      height: 100%;
      font-size: 24px;
      overflow-x: scroll;
    }
    .type {
      flex-direction: row;
      align-items: center;
      background-color: #fff;
      .item {
        padding: 10px 15px;
        font-size: 28px;
        color: #333;
        font-size: 24px;
        background-color: #fff;
        &.select {
          background-color: #ededed;
        }
      }
      .weui-cells_checkbox {
        margin-left: 20px;
        font-size: 20px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        & > input {
          top: 0;
          margin-right: 5px;
        }
      }
    }
    .copy {
      position: absolute;
      right: 0;
      top: 0;
      padding: 6px 10px;
      background-color: #ededed;
      flex-direction: row;
      align-items: center;
      .text {
        font-size: 24px;
        margin-left: 10px;
        color: #666;
      }
    }
  }
}
