.json {
  background-color: #fff;
  align-items: center;
  .head {
    height: 60px;
    flex-direction: row;
    align-items: center;
    .item {
      margin: 0 6px;
      padding: 10px 6px;
      border-radius: 4px;
      font-size: 28px;
      color: #333;
      &.select {
        background-color: #e2e2e2;
      }
    }
  }
  .main {
    width: 750px;
    height: 800px;
    position: relative;
    background-color: rgb(245, 242, 240);
    .scroll {
      height: 100%;
      font-size: 24px;
      overflow-x: scroll;
    }
    .type {
      position: absolute;
      left: 0;
      top: 0;
      flex-direction: row;
      align-items: center;
      .item {
        padding: 10px 15px;
        font-size: 28px;
        color: #333;
        font-size: 24px;
        background-color: #fff;
        &.select {
          background-color: #e2e2e2;
        }
      }
    }
    .copy {
      position: absolute;
      right: 0;
      top: 0;
      padding: 6px 10px;
      background-color: #e2e2e2;
      flex-direction: row;
      align-items: center;
      .text {
        font-size: 24px;
        margin-left: 10px;
        color: #666;
      }
    }
  }
}
